/*productView.jsp*/

body{
	margin: 0;
}
.container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.col-2 {
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img {
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1 {
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.btn {
	display: inline-block;
	background: #4f4f4f;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
	border: none;
}

.btn:hover {
	background: #878889;
}


.header .row {
	margin-top: 70px;
}

.categories {
	margin: 70px 0;
}

.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img {
	width: 100%;
}

.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4 {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img {
	width: 100%;
}

.title {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after {
	content: '';
	background: #297eff;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4 {
	color: #555;
	font-weight: normal;
}

.col-4 p {
	font-size: 14px;
}

.rating .fa {
	color: #3b79ff;
}

.col-4:hover {
	transform: translateY(-5px);
}

.row-2 {
	justify-content: space-between;
	margin: 100px auto 50px;
}

.single-product {
	margin-top: 80px;
}

.single-product .col-2 img {
	padding: 0;
}

.single-product .col-2 {
	padding: 20px;
}

.single-product h4 {
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}

.single-product select {
	display: none;
	padding: 10px;
	margin: 20px;
}

.single-product input {
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #2a2a2a;
}

input:focus {
	outline: none;
}

.single-product .fa {
	color: #3b7cff;
	margin-left: 10px;
}

.small-img-row {
	display: flex;
	justify-content: space-between;
}

.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
}

/* 반응형 스마트폰 화면 설정 */
/* media query for less than 600 screen size */
@media only screen and (max-width: 600px) {
	.row {
		text-align: center;
	}
	.col-2, .col-3, .col-4 {
		flex-basis: 100%;
	}
	.single-product .row {
		text-align: left;
	}
	.single-product .col-2 {
		padding: 20px 0;
	}
	.single-product h1 {
		font-size: 26px;
		line-height: 22px;
	}
	.sticky {
		flex-basis: 100%;
	}
	body {
		display: block;
		margin: 8px;
	}
	.comment {
		width: 100%;
	}
	/* .small-container {
		max-width: 1030px;
		margin: auto;
	} */
	#navbar{
		margin: auto;
	}
}

/*navbar*/
#navbar {
	display: flex;
	justify-content: space-around;
	background-color: #2a2a2a;
}

#navbar a {
	float: left;
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 15px 0 10px 0;
	text-decoration: none;
	font-size: 20px;
	width: calc(100%/ 3);
	height: 35px;
	cursor: pointer;
}

.sticky {
	position: fixed;
    top: 0;
    width: -webkit-fill-available;
    max-width: 1080px;
    margin: auto;
}

.sticky a {
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	width: calc(100%/ 3);
}

.content {
	padding: 16px;
}

.sticky+.content {
	padding-top: 60px;
}

/*상품 상세 정보 영역*/
.product_detail {
	display: flex;
	flex-direction: column;
}

.titlearea {
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	padding: 130px 0 30px 0;
}

/*box1 , box2, box3*/
.box1 {
	padding-bottom: 50px;
}

.box2 {
	padding-bottom: 50px;
}

.box3 {
	padding-bottom: 50px;
}

.list {
	margin: 0 auto;
	width: 100%;
	background-color: white;
	border-top: 1px solid #b9b9b9;
}

.list th {
	font-size: 15px;
	text-align: left;
	height: 30px;
	border-bottom: 1px solid #b9b9b9;
	padding: 10px;
	color: black;
	background-color: #f9f9f9;
}

.list td {
	font-size: 15px;
	height: 25px;
	border-bottom: 1px solid #b9b9b9;
	padding: 10px;
	color: #2a2a2a;
	text-align: left;
}

.comment {
	margin: 0 auto;
	border: 1px solid #b9b9b9;
	width: 100%;
	background-color: #f9f9f9;
	max-width: 1080px;
}

.comment textarea {
	background-color: #f9f9f9;
	border: none;
	resize: none;
	width: 100%;
}

.comment_id, .comment_title, .comment_content {
	font-weight: bold;
	padding-top: 5px;
	border: none;
	resize: none;
}