strong:focus {
    outline: none;
}

.order_title{
	height: 94px;
	font-weight: bold;
	font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

button {
  display: inline-block;
  background: #4f4f4f;
  color: #fff;
  margin: 30px 0;
  transition: background 0.5s;
  border: none;
}

button:hover {
  background: #343456;
}

.order-wrap {
  max-width: 1080px;
  margin: 80px auto;
  padding-left: 25px;
  padding-right: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 5px;
  color: #fff;
  background: #2a2a2a;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px 4px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
