/*orderView.jsp*/

body{
	margin: 0;
}

.wrap {
    max-width: 1080px;
    margin: 80px auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1{
	display: flex;
    justify-content: center;
	font-size:30px;
	font-weight: bold;
}

.title2{
	display: flex;
    justify-content: center;
	font-size:20px;
	background-color: #3b86ff;
	color: #fff;
    font-weight: normal;
    width: 50%;
    padding: 5px 50px;
}

.info_area{
    background-color: #f5f5f5;
    margin-top: 8px;
    padding: 0 50px;
    width: 50%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.info_head{
    font-size: 15px;
    font-weight: normal;
}

.info_cont{
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 16px;
    text-align: left;
}

.info_total{
	display: flex;
    justify-content: space-between;
    width: 50%;
    background-color: #f5f5f5;
    margin-top: 8px;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: bold;
}

button {
    display: inline-block;
    background: #3b86ff;
    color: #fff;
    border: none;
    margin: 30px 0;
    transition: background 0.5s;
    font-size: 15px;
    padding: 10px 100px;
    cursor: pointer;
}

button:hover {
    background: #343456;
}
